<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/cards.css">
</head>

<body>
    <div class="rainbow-image-container"><img src="images/rainbow.jpg" alt="" class="rainbow-image"></div>
    <nav>
        <ul>
            <li>
                <img src="./images/favicon.ico" alt="logo" class="company-logo">
                <span class="company-name">CodeCraft</span>
            </li>

        </ul>
        <ul>
            <button class="write-new" onclick="window.location.href='/letscode'">Write New</button>
            <button class="log-out view" onclick="window.location.href='/logout'">LogOut</button>
            <li>Blogs</li>
        </ul>

    </nav>


    <div class="wrapper">
        <% for(let i=0; i < code.length; i++) {%>
            <div class="card-container">
                <div class="arrows-container">
                    <div class="up" onclick="upvote('<%=code[i]._id%>')">
                        <img src="images/uparrowmod1.png" alt="" class="up-arrow">
                        <div class="upvotenum" id="upvotenum<%=code[i]._id%>">
                            <%=code[i].upvotes%>
                        </div>
                    </div>
                    <div class="down" onclick="downvote('<%=code[i]._id%>')">
                        <img src="images/uparrowmod1.png" alt="" class="down-arrow">
                        <div class="downvotenum" id="downvotenum<%=code[i]._id%>">
                            <%=code[i].downvotes%>
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <%=code[i].code.nameOfthecode%>
                    </div>
                    <div class="actions">
                        <div class="language-container"><span class='language-label'>language:</span>
                            <%=code[i].code.language%>
                        </div>
                        <button class="view" type="button"
                            onclick="window.location.href='/view?id=<%=code[i]._id%>'">View</button>
                    </div>
                </div>
            </div>
            <% }%>
    </div>
    <script src="./js/cards.js"></script>
</body>

</html>