<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userCodes</title>
    <link rel="stylesheet" href="css/userCode.css" type="text/css">
</head>

<body>
    <% for(let i=0;i<codes.length;i++){ %>
        <div class="container">
            <div class="name-of-code">
                <h3>
                    <%=codes[i].code.nameOfthecode %>
                </h3>
            </div>
            <div>

            </div>

            <div class="edit-button">
                <button type="button" data-id="<%=codes[i].code._id%>" data-language="<%=codes[i].code.language%>"
                    onclick="changeCode(this)">Edit</button>
                <button type="button" data-id="<%=codes[i].code._id%>" data-language="<%=codes[i].code.language%>"
                    id="delete" onclick="deleteCode(this)">delete</button>
            </div>
        </div>
        <% }%>
            <script src="js/userCodeJS.js"></script>
</body>

</html>